body {
    font-family: Arial, sans-serif;
    background-color:#2e92d0;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}
nav {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 100;
    background-color: aliceblue;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav a:hover, nav a:focus {
    color: #000000;
    text-decoration: underline;
}

.currentNav{
    border: solid red 5px;
    font-weight: bold;
      }


.nav-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #000000;
}

h2{
    position: inherit;
    text-align: center;
}

h3{
    position: inherit;
    text-align: center;
    font-size: 2.5rem;
}
#headshot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#profilePicture{
    min-height: 100px;
    width:200px;
}


#Samples {
    width: 75%;
    height: 75%;
}

.intro, .featured-projects {
    margin-bottom: 20px;
    
}

.intro{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* for images gallery */
.gallery {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    justify-items: center;
}


.flex-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.flex-box > img{
    border: 5px dashed black;
    margin: 10px;
    max-width: 250px;
    /* flex-basis: 300px; */

}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* Style for the dropdown menu */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    padding: 5px;
    z-index: 1;
  }

  /* Style for the dropdown menu items */
  .dropdown-content a {
    display: block;
    padding: 5px;
    cursor: pointer;
  }
.meme {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.skip-link{
    background: white;
    left: 0;
    padding: 6px;
    z-index: 1;
    position: absolute;
    top:-40px;
}

.skip-link:focus{
    top: 0px;
}

/* @media only screen and (min-width: 768px)
{
    nav: 
} */


/* Experience Page */
/* Media queries for different screen sizes */
@media (min-width: 480px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery > img{
        border: 5px solid grey;
    }
    nav { 
        display: flex;
        justify-content: center;

    }
}


@media (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery > img{
        border: 10px dashed purple;
    }
}

/* Samples Gallery Page */
@media (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
    .gallery > img{
        border: 5px dashed black;
    }
    nav{
        float: none;
        /* position: absolute; */
    }
}